body
{
	background: url(fundo.jpg);

}

.site
{
	width: 800px;
 	height: 1000px;
 	margin: 10px auto;
	background: white;
	color: black;

}

.botao
{
	background: gray;

}

.tituloJ
{
	text-decoration: underline;
}